@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';

$offset: 10px;

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: -$offset;
  margin-left: -$offset;
  
  &__block {
    position: relative;
    margin-top: $offset;
    margin-left: $offset;
    margin-right: $offset;
    border-radius: radius('sm');
    background-color: color('light');
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition:
      box-shadow $ease-main;

    &:hover {
      box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    }
  }

  &__image {
    position: relative;
    @include size(200px);
    overflow: hidden;
    background-color: lightgray;

    img {
      @include fill-img;
    }
  }

  &__info {
    background-color: color('light');
    position: relative;
    width: 100%;
    padding: 12px;
    text-align: center;
  }

  &__title {
    color: color('dark');
  }
}
