@import '../../styles/variables';
@import '../../styles/functions';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  background-color: color('primary');
  height: $header-height;
  padding: 0 30px;

  &__logo {
    max-width: 150px;
  }
}
