@import '../../styles/variables';
@import '../../styles/functions';

.sidebar {
  position: fixed;
  top: $header-height;
  left: 0;
  bottom: 0;
  display: inline-block;
  background-color: color('dark');
  padding: 30px;
  width: 100%;
  max-width: $sidebar-width;

  &__list {

    & > *:not(:first-child) {
      margin-top: 12px;
    }
  }

  &__list-item {
  }

  &__link {
    display: block;
    font-size: 18px;
    font-weight: 700;
    border-radius: radius('sm');
    padding: 12px;
    color: color('light');
    cursor: pointer;
    transition:
      background-color $ease-main;

    &.active,
    &:hover {
      background-color: rgba(color('light'), .2);
    }
  }
}
